body {
    padding-top: 15px;
}
#sidebar {
    max-width: 250px;
}

button#visButton {
    margin-top: 20px;
}

.tab-content {
    min-height: 50%;
}

footer {
    background: no-repeat url("hmi-lab.svg");
    height: 50px;
    margin-top: 15px;
    width: 100%;
    display: inline-block;
}

.shiny-output-error-validation {

    color: #888;
    text-align: center;
    width: 100%;
    padding-top: 5em;
    background-color: #EFEFEF;
    background: no-repeat center url("placeholder-graph.svg");
    min-height: 300px;
    border: 1px solid lightgrey;
}

.vizcontrols-explainer {
    background: no-repeat url("pan-zoom.svg");
    height: 35px;
    width: 100%;
    display: inline-block;
}

.tab-content > .active {
    margin-top: 3em;
}

.navbar-brand {
    font-size: 12px;
    padding: 15px 0px;
}

/* Styling of Check-boxes :horizontal */
.checkbox-inline, .radio-inline {
    padding: 0;
    padding-top: 5px;
}

.checkbox-inline + .checkbox-inline {
  margin-left: 0;
}
.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] ~span {
    background: #D1D3D4;
    border-radius: 3px 3px 3px 3px;
    color: #888;
    border: 1px solid #D1D3D4;
}

.form-group input[type="checkbox"]:checked ~span {
    color: #fff;
    background-color: #337ab7;
    border: 1px solid #337ab7;
}

.form-group input[type="checkbox"]:hover ~span {
    border: 1px solid #666;
    background-color: #4d8fcd;
}

.form-group input[type="checkbox"]:hover:not(:checked) ~span {
    color: #666;
    border: 1px solid #888;
    background-color: #bbbdbe;
}

.checkbox-inline span {
    display: inline-block;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

label {
    margin-bottom: 0;
    font-weight: normal;
}

#pidChooser {
    text-align: right;
    margin-right: 25px;
}